NODE_ENV =
PORT =
MONGO_URI =

JWT_SECRET = asd4848
ACCESS_TOKEN_SECRET =
REFRESH_TOKEN_SECRET =
ACTIVATION_TOKEN_SECRET =

CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =

MAILING_SERVICE_CLIENT_ID =
MAILING_SERVICE_CLIENT_SECRET =
SENDER_EMAIL_ADDRESS =
MAILING_SERVICE_REFRESH_TOKEN =
REDIRECT_URI =

GOOGLE_LOGIN_SERVICE_CLIENT_ID =
GOOGLE_LOGIN_SECRET =

CLIENT_URL =


